vrid=0
ifname=fe2
mtu=1490
bw=1000
duplex=1
crossmode=1
hwaddr=00:11:22:33:44:55
brname=1
if_port_conf_state=0
if_port_lrn_state=0
port_nonsw_state=0
if_egress_mode=0
if_ether_type=0
vlanname=FirstVlan
vlan_add_opt=1
vlanid=12
vlanstate=2
vlantype=1
vlanportmode=1
vlanportsubmode=1
vlanframetype=1
vlaningressfilter=1
vlanegresstype=1
l2proto=2
protoprocess=1
linkname=LINK1
admin_status=1
neighb_limit=4
neighb_interval=10
re_delay=3
tx_delay=4
localstring=LIST1
systemname=SystemOne
descriptor=DescrOne
tx_hold=6
tx_interval=10
lacpaggix=1
cfmlevel=1
cfmvid=100
cfmmdname=LIST
cfmmaname=TEST
cfmmepid=10
cfmrmepid=20
cfmentries=10
cfmseqno=6
cfmethtype=IPV6
cfmdoname=domainone
mstpinst=1
mstpbrpriority=1
mstpmstibrpr=1
mstpporthtime=1
mstpportp2p=1
mstpageing=300
mstphtime=2
mstpmaxage=10
mstpportedge=1
mstpforcever=1
mstpfwdelay=15
mstppathcost=2000
mstpcstipcost=1
mstpmaxhops=1
mstperrdistout=1
mstpmstiportpr=1
mstpuserpr=7
mstptopotype=128
mstpisforward=1
mstpportpr=20
mstprevnu=1
mstpregname="Region"
mstpportfastfltr=7
mstirestricted_role=1
mstprestricttcn=1
mstpmstirsrtrole=1
mstpporttcn=1
mstpportrsrtrole=1
mstpportbpgrd=1
mstpbrforward=1
mstpportfastbpgrd=1
mstperrdistoen=1
mstpautoedge=1
mstptxholdcnt=1
mstpbrtype=1
gvrptimertype=1
gvrptimervalue=1
gvrpregtype=gvrp
gvrpregmode=1
gvrpdynvlanlrn=1
gvrpfirstcall=1
gvrpgididx=2
gvrpnoentries=3
efmlinktimer=1
efmpdutimer=5
efmoammode=1
efmthreslow=5
efmthreshigh=5
efmsecthreslow=1
efmsecthreshigh=4
efmwindowth=5
efmlbtimeout=8
efmnoframes=9
efmmaxpdu=8
efmevent=1
efmeventenable=1
efmtestbuf=TESTING
rmonhistindex=100
rmoneventindx=10000
rmonhistint=1
rmonhistown=ceragon
rmonalarmint=1
rmonalarmtype=3
rmonalarmstartup=1
rmonrisingindx=1
rmonfallingindx=4
rmonalarmindx=1
rmonalarmstatus=3
rmonrisingval=2396
rmonfallval=5678
rmonalarmown=Yogesh
rmonalarmcomm=private
rmonalarmdesc=monitoring
rmonevtstatus=1
rmonevttype=1
rmonevetown=admin
rmonevtcomm=public
rmonevtdesc=monitoring
rmonethstindex=100
rmonifindex=1
rmonbucket=4
rmonethstatus=4
rmonethstatsown=ceragon
rmonsnmpevttype=1
rmonsnmpevtcomm=public
rmonsnmpevtdesc=monitoring
rmonsnmpevtown=admin
rmonevtindx=199
rmonalarmword=stats
qoscmapname=LIST
qospmapname=TEST
qospolicyname=TEST
qosqid=1
qoscommit=1000000
qosexcess=2000000
qosratevalue=64
qosmatchmode=1
qosrateunit=1
qostraffictype=4
qosfcmode=1
qosaction=1
qoscos=1
qosdscp=1
qostrust=2
qosforcetrust=0
qosframe=1
qosvid=11
qosvlanpmode=1
qosqweight=31
qosdir=1
qospriority=3
qosuserpr=3
qosportmode=1
fcdir=1
fcifindex=1
lldpchassisidtype=0
lldpchassisip=1.1.1.1
act_stb=1
